* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #272E37;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: white;
}

/* Style the footer */
footer {
  background-color: #272E37;
  padding: 10px;
  text-align: center;
  color: white;
}

.image {
   position: relative;
   width: 100%;
}

.image-title {
   position: absolute;
   top: 350px;
   color: white;
}

.section-title {
   color: #11191f;
}

.buttons {
    background-color: #ffa500;
    color:#ffffff;
    font-size: 15px;
    padding:3px 56px;
    border: 0;
    border-radius: 5px;
}

.movie-bar {
    background-color: #272E37;
    color: white;
}

.col-centered{
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    text-align: center;
}
